.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 8vh;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #83a9ff;
}
.horizontal-slider .example-track {
  top: 12px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 0px;
  width: 15px;
  outline: none;
  height: 15px;
  line-height: 32px;
}

#chart {
  outline-color:#282c34;
  outline-width: 1px;
  outline-style: solid;
}

#chart1div{
  justify-content: center;
  position: relative;
  display: flex;
  margin-bottom: 30px;
}

#toggles{
  justify-content: center;
  position: relative;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

#title{
  justify-content: center;
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

#width{
  justify-content: center;
  position: relative;
  display: flex;
  margin-bottom: 10px;
}